<p>
  <mat-toolbar color="primary" class="ps-4">
    <!-- <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button> -->
    <mat-icon>note</mat-icon>
    <span class="ms-1">Note App</span>
    <span class="navbar-spacer"></span>
    <!-- <button mat-button>
      <mat-icon>add</mat-icon>
    </button> -->
    <!-- <button mat-icon-button>
      <mat-icon>share</mat-icon>
    </button> -->
  </mat-toolbar>
</p>

<div class="container mt-5">
  <div class="row">
    <div class="col-sm-6">
      <h1>Add new note</h1>
      <form class="mb-5">
        <mat-form-field class="d-block" appearance="fill">
          <mat-label>Title</mat-label>
          <input matInput #titleInput autocomplete="off" />
        </mat-form-field>
        <mat-form-field class="d-block" appearance="fill">
          <mat-label>Description</mat-label>
          <textarea matInput #descriptionInput autocomplete="off"></textarea>
        </mat-form-field>
        <button (click)="addNote()" mat-raised-button color="primary">
          Add
        </button>
      </form>
    </div>

    <div class="col-sm-6">
      <mat-card *ngFor="let note of notes" class="my-3">
        <mat-card-title>{{ note.title }}</mat-card-title>
        <mat-card-subtitle>
          {{ note.creationDate.toLocaleDateString("en-US") }}
        </mat-card-subtitle>
        <mat-card-content>
          {{ note.description }}
        </mat-card-content>
        <mat-card-actions>
          <button (click)="deleteNote(note.id)" mat-icon-button color="warn">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
