<p>
  <mat-toolbar color="primary" class="ps-4">
    <!-- <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button> -->
    <mat-icon>note</mat-icon>
    <span class="ms-1">Note App</span>
    <span class="navbar-spacer"></span>
    <!-- <button mat-button>
      <mat-icon>add</mat-icon>
    </button> -->
    <!-- <button mat-icon-button>
      <mat-icon>share</mat-icon>
    </button> -->
  </mat-toolbar>
</p>

<div class="container mt-5">
  <div class="row">
    <div class="col-sm-4">
      <h1>Add new note</h1>
      <form class="mb-5">
        <mat-form-field class="d-block" appearance="fill">
          <mat-label>Title</mat-label>
          <input matInput #titleInput autocomplete="off" />
        </mat-form-field>
        <mat-form-field class="d-block" appearance="fill">
          <mat-label>Description</mat-label>
          <textarea matInput #descriptionInput autocomplete="off"></textarea>
        </mat-form-field>
        <button (click)="addNote()" mat-raised-button color="primary">
          Add
        </button>
      </form>
    </div>

    <div class="col-sm-8">
      <app-card *ngFor="let note of notes" [note]="note"></app-card>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
